#sidebar {
  background: #052f52;
}

h1,h2, h3 {
  color: #043865;
}

#postamble {
  background: #072138;
  border-top: #072138;
  border-bottom: #072138;
}

#sidebar h2 {
  background-color: #043865;
  color:white;
}

#sidebar a {
  color:white;
}

#postamble .date {
  color:white;
}